@import 'https://fonts.googleapis.com/css?family=Patua+One';
/* Portrait */
body {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 0.5em;
  font-family: 'Patua One', cursive;
  max-width: 83em;
  padding: 2px 0;
  background-image: url(./background.GIF); }

.image {
  border: white;
  border-style: groove;
  border-radius: 50%;
  width: 45%;
  margin-left: 500px;
  margin-top: 50px; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: grid;
  grid-auto-columns: 100%; }

.sidebar {
  background: #00dab2;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  overflow: hidden; }

.box {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 850px;
  height: 600px;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 25px #000;
  box-shadow: 5px 5px 25px #000;
  color: white;
  margin: auto;
  cursor: pointer;
  -webkit-transition: 0.5s ease-out 1s;
  transition: 0.5s ease-out 1s; }
  .box .box__blurb {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out 1s, -webkit-transform 0.5s ease-out 1s;
    transition: opacity 0.5s ease-out 1s, -webkit-transform 0.5s ease-out 1s;
    transition: opacity 0.5s ease-out 1s, transform 0.5s ease-out 1s;
    transition: opacity 0.5s ease-out 1s, transform 0.5s ease-out 1s, -webkit-transform 0.5s ease-out 1s;
    text-align: justify; }
  .box .rect__blurb {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out 1s, -webkit-transform 0.5s ease-out 1s;
    transition: opacity 0.5s ease-out 1s, -webkit-transform 0.5s ease-out 1s;
    transition: opacity 0.5s ease-out 1s, transform 0.5s ease-out 1s;
    transition: opacity 0.5s ease-out 1s, transform 0.5s ease-out 1s, -webkit-transform 0.5s ease-out 1s;
    text-align: justify; }
  .box:hover {
    width: 850px;
    background-color: #fdfdfd;
    -webkit-box-shadow: -5px 5px 25px #000;
    box-shadow: -5px 5px 25px #000;
    color: black; }
    .box:hover .box__blurb {
      opacity: 0;
      -webkit-transform: translateX(-500px);
      transform: translateX(-500px); }
    .box:hover .rect__blurb {
      opacity: 1;
      -webkit-transform: translateX(-1650px);
      transform: translateX(-1650px); }

button {
  font-family: 'Patua One', cursive;
  font-size: 20px;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.8); }
  button:hover {
    color: white; }

li {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 1200px;
  margin-right: -1600px;
  list-style: none;
  pointer-events: none; }

b {
  font-size: 20px; }

pro {
  font-size: 30px; }

p {
  margin-left: 50px;
  margin-right: -300px; }

h1 {
  margin-left: 50px; }

h2 {
  margin-left: 1000px;
  margin-right: -1800px;
  margin-top: -10px; }

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0%;
  background-color: rgba(0, 0, 0, 0); }

.responsive {
  display: none; }

@media screen and (max-width: 768px) {
  html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main {
    width: 100%; }
  .aside {
    width: 100%;
    margin: 0;
    border: none; }
  .image {
    width: 50%;
    margin-left: 0;
    margin-top: 0; }
  .box__blurb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .rect__blurb {
    display: none; }
  li {
    text-align: justify;
    width: 75vw;
    margin-left: -90px; }
  h2 {
    text-align: justify;
    width: 75vw;
    margin-left: -90px; }
  p {
    margin-right: 40px;
    text-align: left;
    word-spacing: 1px;
    font-size: 15px; }
  h1 {
    margin-left: 0; }
  .box {
    width: 95vw;
    height: auto;
    pointer-events: none; }
  .desktop {
    display: none; }
  .responsive {
    display: initial; }
  .sidebar {
    padding-right: 30vw;
    padding-left: 30vw; }
  aside {
    grid-gap: 0.5em; } }
