@import url("https://fonts.googleapis.com/css?family=Patua+One");
body {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 0.5em;
  font-family: "Patua One", cursive;
  max-width: 83em;
  padding: 2px 0;
  background-image: url(/images/first_work_1.GIF); }

.image {
  border: white;
  border-style: groove;
  border-radius: 50%;
  width: 35%;
  margin-left: 500px;
  margin-top: 50px; }

main,
aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

aside {
  display: grid;
  grid-auto-columns: 100%; }

.sidebar {
  background: #00dab2;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  overflow: hidden; }

.box {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 850px;
  height: 600px;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 25px #000;
  box-shadow: 5px 5px 25px #000;
  color: white;
  margin: auto;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s; }
  .box .box__blurb {
    opacity: 1;
    -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
    transition: opacity 0.5s 0.5s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    text-align: justify; }
  .box .rect__blurb {
    opacity: 0;
    -webkit-transition: opacity 0.5s 0.1s, -webkit-transform 0.5s 1.1s;
    transition: opacity 0.5s 0.1s, -webkit-transform 0.5s 1.1s;
    transition: opacity 0.5s 0.1s, transform 0.5s 1.1s;
    transition: opacity 0.5s 0.1s, transform 0.5s 1.1s, -webkit-transform 0.5s 1.1s;
    text-align: justify; }
  .box:hover {
    width: 800px;
    background-color: #fdfdfd;
    -webkit-box-shadow: -5px 5px 25px #000;
    box-shadow: -5px 5px 25px #000;
    color: black; }
    .box:hover .box__blurb {
      opacity: 0;
      -webkit-transform: translateX(-500px);
      transform: translateX(-500px); }
    .box:hover .rect__blurb {
      opacity: 1;
      -webkit-transform: translateX(-1650px);
      transform: translateX(-1650px); }

.fancybox-slide--iframe .fancybox-content {
  width: 95%;
  height: 95%;
  max-width: 95vw;
  max-height: 95vh;
  margin-top: 5px;
  margin-left: 10px;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border: groove; }

button {
  font-family: "Patua One", cursive;
  font-size: 20px;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.8); }

button:hover {
  color: white; }

li {
  margin-left: 1000px;
  margin-right: -1600px;
  list-style: none; }

p {
  margin-left: 50px;
  margin-right: -100px; }

h1 {
  margin-left: 50px; }

h2 {
  margin-left: 1000px;
  margin-right: -1800px;
  margin-top: -10px; }
